
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: none; */
}
nav{
    width: 100%;
    /* background-color: chocolate; */
    position: fixed;
    /* top: -70px; */
    /* height: 100px;    */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 22px;
    padding-inline: 47px;
}
.container{
    /* max-width: 100%;
    margin: 0; */
    /* background-color: hotpink; */
}
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    /* justify-content: space-between; */
    background-color: rgba(0, 0, 0, 0.288);
    /* padding: 60px 0px; */
}
.nav ul{
    padding-top: 40px;
}
.nav ul li{
    display: inline;
    padding-inline: 9px;
}
.nav ul li a{
    font-size: 15px;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
    color: white;
    text-decoration: none;
    position: relative;  
}
.nav ul li a::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    right: 0;
    transition: 0.3s;
}
.nav ul li a:hover::before{
    width: 100%;
    /* right: 0; */
    left: 0;
}

.nav ul i{
    color: white;
    font-size: 10px;
    font-weight: 600;
}
.nav img{
    /* margin-top: 10px; */
    /* margin-left: 0px; */
    margin-left: 20px;
}
.socialicons{
    display: flex;
    gap: 20px;
    padding-top: 40px;
    color: #A8A7A0;
    margin-left: 80px
}
.button{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
    
}
.button a{
    text-decoration: none;
    padding: 10px 26px;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #009DFF;
}
.nav .button:hover a{
    background-color: white;
    color: #009DFF;

}
.container2{
    max-width: 100%;
    margin: auto;
}
.bgimage{
    width: 100%;
    height: 500px;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
}
h3{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    padding-top: 213px;
    margin-left: 12px;
}
.bgimage p{
    color: white;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
main{
    width: 100%;
    margin: auto;
    /* background-color: navy; */
}
.container3{
    max-width: 90%;
    height: 560px;
    /* background-color: teal; */
    margin: auto;   
    position: relative;
}
.abouttext{
    padding-top: 100px;
    position: absolute;
    /* line-height: 60px; */
}
.abouttext p{
    margin-top: 20px;
    line-height: 30px;
    margin-top: 25px;
}
.abouttext h4{
    font-size: 14px;
    font-family: 300;
    font-weight: 300;
    color: #009DFF;
    font-family: "Raleway",sans-serif;
}
.abouttext h2{
    font-size: 46px;
    font-weight: 400;
    font-family: "Raleway",sans-serif;
    margin-top: 20px;
    line-height: 60px;
}
.abouttext p{
    /* font-size: 16px; */
    font-weight: 300;
    color: #4D4D4D;
    font-family: "Raleway",sans-serif;
}
.abouttext a{
    font-size: 16px;
    color: #919191;
    font-weight: 400;
    font-family: "Raleway",sans-serif;
    text-decoration: none;
    border-bottom: 1.5px solid #919191;
    padding-bottom: 2px;
    line-height: 135px;
    /* margin-bottom: 80px; */
}
.luxuryimage1{
    width: 294px;
    height: 400px;
    /* background-color: darkorchid; */
    float: right;
    margin-top: 150px;
}
.luxuryimage2{
    width: 284px;
    height: 400px;
    /* background-color: darkorchid; */
    float: right;
    margin-top: 100px;
    margin-right: 10px;
}
section{
    width: 100%;
    /* height: 1000px; */
    margin: auto;
    /* background-color: palegreen; */
}
.container4{
    max-width: 90%;
    /* height: 1000px; */
    /* background-color: teal; */
    margin: auto;  
    /* margin-top: 50px; */
}
.offers{
    padding-top: 50px;
}
.offers h5{
    color: #009DFF;
    font-size: 14px;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}
.offers h2{
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    font-size: 46px;
    text-align: center;
}
.views{
    width: 100%;
    height: 600px;
    /* background-color: violet; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}
.view1{
    width: 330px;
    height: 500px;
    /* background-color: indianred; */
    margin-right: 30px;
    /* display: flex; */
    /* padding: auto; */

}
.views .view1 img{
    width: 100%;
}
.views .view1 h2{
    font-size: 22px;
    font-weight: 400;
    font-family: "Raleway",sans-serif;
    margin-top: 32px;
    margin-bottom: 15px;
}
.views .view1 ul li{
    list-style-type: disc;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    color: #4D4D4D;
    line-height: 28px;
    margin-left: 15px;
    padding-left: 6px;
}
.view2{
    width: 330px;
    height: 500px;
    /* background-color: palevioletred; */
    margin-right: 30px;

}
.views .view2 img{
    max-width: 100%;
}
.views .view2 h2{
    font-size: 22px;
    font-weight: 400;
    font-family: "Raleway",sans-serif;
    margin-top: 32px;
    margin-bottom: 15px;
}
.views .view2 ul li{
    list-style-type: disc;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    color: #4D4D4D;
    line-height: 28px;
    margin-left: 15px;
    padding-left: 6px;
}
.view3{
    width: 330px;
    height: 500px;
    /* background-color: lightseagreen; */

}
.views .view3 img{
    width: 100%;
}
.views .view3 h2{
    font-size: 22px;
    font-weight: 400;
    font-family: "Raleway",sans-serif;
    margin-top: 32px;
    margin-bottom: 15px;
}
.views .view3 ul li{
    list-style-type: disc;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    color: #4D4D4D;
    line-height: 28px;
    margin-left: 15px;
    padding-left: 6px;
}
.views a{
    text-decoration: none;
    font-family: "Raleway",sans-serif;
    color: #009DFF;
    border: 1px solid #009DFF;
    padding: 10px 113px;
    position: absolute;
    margin-top: 20px;
    /* margin-bottom: 200px; */
   
}
.views a:hover{
    background-color: #009DFF;
    color: white;
}
.container5{
    max-width: 100%;
    height: 800px;
    margin: auto;
    /* margin-top: 100px; */
    /* background-color: red; */
    
}
.vid{
    width: 100%;
    height: 90%;
    /* background-color: yellow; */
    background-image: url('../images/pool\ video.png');
    background-size: cover;
    background-position: center;
    padding-block: 250px;
    background-color: rgba(0, 0, 0, 0.465);
   
}
.vid p{
    font-family: "Raleway",sans-serif;
    color: white;
    font-size: 14px;
    text-align: center;
    /* padding-top: 40px; */
}
.vid h4{
    font-family: "Raleway",sans-serif;
    color: white;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}
.iconplay{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100%;
    justify-self: center;  
    margin-top: 30px;
}
.iconplay i{
    color: #009DFF;
    margin-top: 22px;
    margin-left: 20px;
}
.containersalad{
    max-width: 90%;
    height: 500px;
    /* background-color: teal; */
    margin: auto;  
    margin-top: 80px;
}
.foodimg1{
    width: 284px;
    height: 400px;
    /* background-color: brown; */
}
.foodimg2{
    width: 294px;
    height: 400px;
    /* background-color: brown; */
    margin-left: 265px;
    margin-top: -350px;
}
.containersalad .foodimg1 img{
    width: 90%;
}
.containersalad .foodimg2 img{
    width: 90%;
}
.foodtext{
    margin-left: 560px ;
    margin-top: -440px;
    
    
}
.foodtext span{
    font-family: "Raleway",sans-serif;
    color: #009DFF;
    font-size: 14px;
    /* margin-bottom: 50px; */
}
.foodtext h4{
    font-family: "Raleway",sans-serif;
    font-size: 46px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}
.foodtext p{
    font-weight: 300;
    color: #4D4D4D;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.foodtext a{
    font-size: 16px;
    color: #919191;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    border-bottom: 1.5px solid #919191;
    padding-bottom: 2px;
    line-height: 135px;
}
section{
    width: 100%;
    margin: auto;
    /* background-color: palegreen; */
}
.container5{
    max-width: 100%;
    height: auto;
    margin: auto;
    /* background-color: rgb(129, 59, 59);  */
    padding-top: 100px;
}
.sectitle{
    width: 500px;
    height: 120px;
    /* background-color: burlywood;  */
    justify-self: center;
}
.sectitle label{
    color: #009DFF;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    margin-left: 190px;
    
    /* margin-bottom: 15px; */
    /* display: block; */
}
.sectitle h4{
    font-size: 46px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    margin-top: 15px;
    /* line-height: 56px; */
    color: #1F1F1F;
    text-align: center;
}
.imgkidiv{
    max-width: 100%;
    height: 700px;
    margin: auto;
    /* background-color: cornflowerblue; */
    /* display: flex;
    align-items: center; */
    position: relative;
}
.img1{
    width: 50%;
    height: 300px;
    /* background-color: hotpink; */
    margin-top: 30px;

}
.imgkidiv .img1 img{
    width: 100%;
} 
.img2{
    width: 50%;
    height: 300px;
    /* background-color: hotpink; */
    float: right;
    margin-top: -300px;

}
.imgkidiv .img2 img{
    width: 100%;
} 
.img3{
    width: 50%;
    height: 300px;
    /* background-color: hotpink; */
    margin-top: 38px;
}
.imgkidiv .img3 img{
    width: 100%;
} 
.img4{
    width: 50%;
    height: 300px;
    /* background-color: hotpink; */
    margin-top: -300px;
    float: right;
}
.imgkidiv .img4 img{
    width: 100%;
} 
.roomtext{
    width: 250px;
    height: 100px;
    /* background-color: purple; */
    position: absolute;
    margin-top: -120px;
    margin-left: 55px;
    /* display: flex; */
    /* align-items: center; */
}
.roomtext span{
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: white;
    position: relative;
}
.roomtext h5{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 400;
    margin-top: 10px;
    position: relative;
}
.imgkidiv a{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 600;
    position: relative;
    text-decoration: underline;
    /* border-bottom: 1.5px solid white; */
    padding-bottom: 2px;
    margin-left: 400px;
    /* transform: rotateY('-50deg'); */
}
.imgkidiv a:hover{
    color: #009DFF;
}
.container6{
    max-width: 100%;
    height: auto;
    margin: auto;
    background-color: rgb(129, 59, 59); 
    padding-top: 100px;
    padding-inline: 0px;
}
.querybox{
    width: 950px;
    height: auto;
    /* background-color: darkgoldenrod; */
    justify-self: center;
    padding: 28px 50px;
    border: 1px solid #BABABA;
}
.querybox .querytext{
    padding-top: 10px;
}
.querybox .querytext p{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
}
.button2{
    width: 250px;
    height: 45px;
    justify-self: end;
    margin-top: -25px;
}
.button2 a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: #009DFF;
    border: 1px solid #009DFF;
    /* text-align: center; */
    border-radius: 30px;
    padding-inline: 53px;
    padding-block: 12px;
}
.button2:hover a{
    background-color: white;
    color: #009DFF;   
}
.container7{
    max-width: 100%;
    height: 310px;
    margin: auto;
    /* background-color: chocolate; */
    padding-top: 100px;
 }
 .instagramarea{
    width: 100%;
    height: 216px;
    /* background-color: thistle; */
    /* overflow: hidden; */
 }
 .instagramarea img{
    width: 20%;
    position: relative;
    float: left;
 }
 section{
    width: 100%;
    margin: auto;
    /* background-color: black; */
}
.color{
    background-color: black;
}
 .container8{
    max-width: 85%;
    height: 550px;
    margin: auto;
    /* background-color: deeppink;  */
 }
 .footer{
    width: 100%;
    height: 250px;
    /* background-color: burlywood; */
    margin: auto;
    padding-top: 160px;
    display: flex;
    align-items: center;
 }
 .footertext{
    font-family: "Raleway", sans-serif;
    color: white;
    /* background-color: green; */
    width: 25%;
 }
 .footertext h2{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
 }
 .footertext p{
    font-size: 16px;
    color: #BABABA;
    margin-bottom: 23px;
    font-weight: 400;
 }
 .footertext a{
    color: #919191;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding-right: 5px;
   
 }
 .footertext2{
    font-family: "Raleway", sans-serif;
    color: white;
    /* background-color: deepskyblue; */
    width: 25%;
 }
 .footertext2 h2{
    font-size: 22px;
    font-weight: 400;
    margin-top: -25px;
    margin-bottom: 40px;
 }
 .footertext2 p{
    font-size: 16px;
    color: #BABABA;
    margin-bottom: 23px;
    font-weight: 400;
 }
 .footertext3{
    font-family: "Raleway", sans-serif;
    color: white;
    /* background-color: greenyellow; */
    width: 18%;
}
.footertext3 h2{
    font-size: 22px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 35px;
 }
 .footertext3 a{
    font-size: 16px;
    color: #BABABA;
    font-weight: 400;
    line-height: 42px;
    text-decoration: none;
 }
 .footertext3 ul li{
    list-style-type: none;
 }
 .footertext4{
    font-family: "Raleway", sans-serif;
    color: white;
    /* background-color: violet; */
    width: 30%;
    margin-top: -20px;
}
.footertext4 h2{
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
 }
 .footertext4 form{
    position: relative;
 }
 .footertext4 input{
    width: 200px;
    height: 45px;
    background: #fff;
    font-family: "Raleway", sans-serif;
    padding-left: 20px;
    font-size: 16px;
    color: #000;
    border: none
 }
 .footertext4 button{
    background-color: #009DFF;
    color: white;
    border: none;
    position: absolute;
    height: 45px;
    padding: 0 22px;
    width: 100px;
}
.footertext4 p{
    font-size: 16px;
    color: #BABABA;
    margin-top: 23px;
    font-weight: 400;
}
.copyrighttext{
    width: 85%;
    height: 80px;
    /* background-color: slateblue; */
    color: #A8A7A0;
    position: absolute;
    margin-top: 600px;
    padding-top: 30px;
    font-family: "Raleway", sans-serif;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
}
.copyrighttext a{
    text-decoration: none;
    color: #009DFF;
}
.copyrighticon{
    width: 200px;
    height: fit-content;
    /* background-color: navajowhite; */
    display: flex;
    justify-content: end;
    gap: 15px;
    color: #A8A7A0;
}